/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding-top: 10px;
    min-height: 70px;
    border-bottom: #fb9800 3px solid;
}

header h1 {
    float: left;
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #fb9800;
}

/* Estilos da seção de destaque */
#destaque {
    background-color: #fb9800;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

#destaque h2 {
    margin-bottom: 20px;
}

#destaque p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

/* Estilos da seção de informações */
#informacoes {
    padding: 60px 0;
    background-color: #fff;
    text-align: center;
}

#informacoes h2 {
    margin-bottom: 20px;
}

#informacoes p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
